{% extends 'doser/base.html' %}

{% block content %}

<div>
	<div class="content">
		<div class="py-4 text-center font-bold">
			ReefTankDoser Configuration
		</div>
	</div>

	<form action="/doser/admin/" method="post" id="adminSetup">
		{% csrf_token %}
		{% if doserAdminForm %}
		<div class="bdivider">
			<div class="content">
				<div class="content-notitle">
					<table id="schedEntry">
						{{doserAdminForm.as_table}}
					</table>
				</div>
			</div>
			{% endif %}
			<div class="py-4">
				<div class="content-notitle">
					<button class="btn" type="submit" title="Generates an Telegram test message to ensure the key works" name="actionButton" value="Test Telegram">Test Telegram</button>
					<button class="btn" type="submit" title="Updates the tester configuration" name="actionButton" value="UPDATE">Update</button>
					<button class="btn" type="submit" title="Cancels any changes" name="actionButton" value="CANCEL">Cancel</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="py-4">
	<div class="py-4 text-center font-bold">
		User Configuration
	</div>
	<div class="content-notitle">
		<form action="/admin/login/" method="get" id="userAdmin">
			{% csrf_token %}
			<button class="btn" type="submit" form="userAdmin" title="User Administration including Logging out and password change" name="manageUsers" value="manageUsers" />Manage Users</button>
		</form>
	</div>
</div>

{% endblock %}
