{% extends 'doser/base.html' %}

{% block content %}
<form action="/doser/control/" method="post" id="queueDose">
{% csrf_token %}
<br>
<div>
<table border="1" class="controlTable">
<tr>
<td><input type='submit' class="controlButton" title="Clean the mixing cylinder" name='button' value='Clean'></td>
<td><input type='submit' class="controlButton" title="Fill the mixing cylinder to 5ML with TankWater" name='button' value='Fill5MLTankWater'></td>
<td><input type='submit' class="controlButton" title="Turn all motors off" name='button' value='MotorsOff'></td>
<td><input type='submit' class="controlButton" title="Opens the reagent stoppers" name='button' value='OpenStoppers'></td>
<td><input type='submit' class="controlButton" title="Calibrate Measurement" name='button' value='CalibrateMeasurement'></td>
</tr><tr>
<td><input type='submit' class="controlButton" title="Turn on the pump" name='button' value='PumpOn'></td>
<td><input type='submit' class="controlButton" title="Fill the mixing cylinder to 5ML with OsmoseWater" name='button' value='Fill5MLOsmoseWater'></td>
<td><input type='submit' class="controlButton" title="Start agitation" name='button' value='AgitatorOn' ></td>

<td><input type='submit' class="controlButton" title="Closes the reagent stoppers" name='button' value='CloseStoppers'></td>
<td><input type='submit' class="controlButton" title="Color Measure" name='button' value='Measure'></td>
</tr><tr>
<td><input type='submit' class="controlButton" title="Turn off the pump" name='button' value='PumpOff'></td>
<td><input type='submit' class="controlButton" title="Drain the Main reactor" name='button' value='MainDrainPump'></td>
<td><input type='submit' class="controlButton" title="Stop agitation" name='button' value='AgitatorOff'></td>
<td><input type='submit' class="controlButton" title='Center the reagent automatically' name='button' value='Center' ALIGN='Middle Top' ></td>
<td><input type='submit' class="controlButton" title='Homing Syringe' name='button' value='HomeSyringe'></td>
</tr>
</table>
</div>
<br>
<div>
<input type='submit' class="diagButton" title='Exercise plunger rotation' name='diag-button' value='Carousel Diagnostic'>
<input type='submit' class="diagButton" title='Exercise opening and closing the stoppers' name='diag-button' value='Plunger Diagnostic'>
<input type='submit' class="diagButton" title='Exercise drop dispensing from slot A' name='diag-button' value='Dispense Diagnostic'>
<input type='submit' class="diagButton" title='Exercise filling the mixer' name='diag-button' value='Fill Mixer Diagnostic'>
</div>
</form>
{% endblock %}
	
