{% extends 'doser/base.html' %}

{% block content %}

<!-- Dose Def -->
{% if doseToChange %}
<div>
	<div class="content">
		<form action="/doser/dosedef/" method="post" id="queueDose">
			{% csrf_token %}
			<div class="pb-4 title">
				Change dose settings
			</div>
			<div class="content-notitle">
				<button type="hidden" name="originalDoseName" value="{{originalDoseName}}"></button>
				<table>
					{{doseDef.as_table}}
				</table>
			</div>
			<div class="content-notitle">
				<button type="submit" class="btn" name="doseAction" value="Save">Save</button>
				<button type="submit" class="btn" name="doseAction" value="Cancel">Cancel</button>
			</div>
		</form>
	</div>
</div>

{% else %}
{% if doseDefList %}

<!-- List of doses -->
<div class="py-4">
	<div class="text-center font-bold pb-4">
		Change dose settings
	</div>
	<div>
		<form action="/doser/dosedef/" method="post" id="queueDose">
			<table class="table w-2/6">
			{% csrf_token %}
				<thead class="table-thead">
					<th class="table-th">Name</th>
					<th class="table-th"></th>
				</thead>
				<tbody>
					{% for dose in doseDefList %}
					<tr class="table-tr">
						<td class="table-td font-bold">{{dose.doseName}}</td>
						<td class="table-td">
							<div class="flex justify-end items-center">
								<button type="submit" name="doseListAction" class="mr-4 hover:text-yellow-600" id="doseEdit" value="EDIT {{dose.doseName}}">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
									</svg>
								</button>
								<button type="submit" name="doseListAction" class="mr-4 hover:text-red-600" id="doseDel" value="DELETE {{dose.doseName}}" onclick="return confirm('Are You Sure?')">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
									</svg>
								</button>
							<div>
						</td>
					</tr>
					{% endfor %}
					{% endif %}
					<tr class="table-tr">
						<td class="table-td"></td>
						<td class="table-td">
							<div class="flex justify-end items-center">
								<button type="submit" name="doseAction" class="mr-4 hover:text-green-600" value="CREATE NEW">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
	  								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
									</svg>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

{% endif %}
{% endblock %}

<!-- <form action="/doser/dosedef/" method="post" id="queueDose">
{% csrf_token %}
{% if doseToChange %}
<input type="hidden" name="originalDoseName" value="{{originalDoseName}}">
<table>
{{doseDef.as_table}}
</table>
<input type="submit" class="genericButton" name="doseAction" value="Save">
<input type="submit" class="cancelButton" name="doseAction" value="Cancel">
{% else %}
{% if doseDefList %}
<table>
{% for dose in doseDefList %}
<tr>
<td><input type="submit" name="doseListAction" class="doseEditButton" id="doseEdit" value="EDIT {{dose.doseName}}"></td>
<td><input type="submit" name="doseListAction" class="doseDeleteButton" id="doseDel" value="DELETE {{dose.doseName}}" onclick="return confirm('Are You Sure?')"></td>
</tr>
{% endfor %}
</table>
{% endif %}
<input type="submit" name="doseAction" class="btn" value="CREATE NEW">
{% endif %}
</form> -->
