{% extends 'doser/base.html' %}
{% load static %}

<!-- Search history -->
{% block content %}
<div class="bdivider">
	<div class="content">
		<form action="/doser/history/" method="post" id="queueTest">
			{% csrf_token %}
			<div class="text-center font-bold">
				Test to View
			</div>
			<div class="content-withtitle">
				{% if doseList %}
				{% for dose in doseList %}
				{% if dosedoseName == currentlySelected %}
				<input class="btn-radio" type="radio" name="toDisplay" title="Select test for displaying results" checked = 'checked' value="{{dose.doseName}}"><label>{{dose.doseName}}</label>
				{% else %}
				<input class="btn-radio" type="radio" name="toDisplay" title="Select test for displaying results" value="{{dose.doseName}}"><label>{{dose.doseName}}</label>
				{% endif %}
				{% endfor %}
				{% if "All" == currentlySelected %}
				<input class="btn-radio" type="radio" name="toDisplay" title="Select results for all tests" checked = 'checked' value="All"><label>All</label>
				{% else %}
				<input class="btn-radio" type="radio" name="toDisplay" title="Select results for all tests" value="All"><label>All</label>
				{% endif %}
			</div>
			<div class="content-notitle">
				<input class="btn" type="submit" title="Display results of past tests" name="display" value="Display">
				{% endif %}
			</div>
		</form>
	</div>
</div>

<!-- results -->

<div class="py-4">
	<div class="title">
		Results
	</div>
	<div>
		<table class="table">
			<thead class="table-thead">
				<th class="table-th">Test</th>
				<th class="table-th">Results</th>
				<th class="table-th">Status</th>
				<th class="table-th">Timestamp</th>
			</thead>
			<tbody>
				{% for result in resultsList %}
				<tr class="table-tr">
					<td class="table-td font-bold">{{result.dosePerformed}}</td>
					<td class="table-td">{{result.results}}</td>
					<td class="table-td"><span
					{% if "Failed" in result.status %}
						class="btn-status btn-status-red"
					{% elif "Completed" in result.status %}
						class="btn-status btn-status-green"
					{% endif %}
					>{{result.status}}</span></td>
					<td class="table-td">{{result.datetimePerformed}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
