{% extends 'doser/base.html' %}

{% block content %}

<!-- Log display -->
<div
	{% if scrollLog %}
		class="bdivider"
	{% endif %}
>
	<div class="content">
		<form action="/doser/logs/" method="post" id="logDisplay">
		{% csrf_token %}
		<div class="text-center font-bold">
			Select Log to Display
		</div>
		<div class="content-withtitle">
			{% if logToDisplay == "Debug" %}
			<input class="btn-radio "type="radio" name="radioLogDisplay" title="Display debug log" checked="checked" value="Debug"><label>Debug</label>
			<input class="btn-radio "type="radio" name="radioLogDisplay" title="Display info log" value="Info"><label>Info</label>
			{% else %}
			<input class="btn-radio "type="radio" name="radioLogDisplay" title="Display debug log" value="Debug"><label>Debug</label>
			<input class="btn-radio "type="radio" name="radioLogDisplay" title="Display info log" checked="checked" value="Info"><label>Info</label>
			{% endif %}
		</div>
		<div class="content-notitle">
			<input class="btn" type="submit" title="Display the selected Log" name="displayLog" value="Display"></td>
		</div>
	</div>
</div>

<!-- Results -->
{% if scrollLog %}
<div class="py-4">
	<div class="title">
		Log Results
	</div>
	<div>
		<pre>
		{{scrollLog}}
		</pre>
	</div>
</div>

{% endif %}
{% endblock %}
